#container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#send-button {
  background-color: red;
  font-size: 2rem;
  padding: .4em;
  border-radius: 50px;
}