<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quelona: Reporte de Tortugas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button id="send-button" [disabled]="disableSend" (click)="registerCurrentPosition()">Enviar Posición</button>
  </div>

  <ion-toast 
    trigger="send-button"
    message="Se ha registrado correctamente la posición"
    (didDismiss)="enableButton()"
    [animated]="true"
    [duration]="4500"></ion-toast>
</ion-content>
